* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* width: 80%; */
}
#rapper-admin {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    /* height: 700px; */
}
#header {
    height: 50px;
    border:  1px black solid;
    display: flex;
    align-items: center;
    background-color: #222222;
} 
.container-item {
    width: 33.333%;
    /* height: 50px; */
    background-color: #222222;
    color: #999999;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
}
#header .right-item {
    text-align: right;
}
#content {
    /* margin-top: 200px; */
    
    /* background-color: red; */
    display: flex;
}

.left-content {
    width: 20%;
    border: 1px black solid;
    /* height: 1000px; */
}
#content .container {
    height: 35px;
    border: 1px black solid;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    font-weight: 500;
    color: #333333;
    cursor: pointer;
}
/* #content .so1 {
    color: #333333;
} */
@media screen and (max-width: 1150px){
    .container {
        font-size: 13px;
        height: 70px !important;
    }
}
    
#right-content {
    border: 1px black solid;
    width: 80%;
    height: 700px;
}
.header-right-content {
    display: flex;
    justify-content: space-around;
    /* width: 100%; */
}
.container-header-item {
    /* width: 25%; */
    margin-top: 10px;
    border-radius: 4px;
}
.container-header-item select {
    height: 25px;
    border-radius: 4px;
}
.search-admin {
    margin-top: 10px;
    height: 25px;
    border-radius: 3px;
}
.button-search {
    width: 25px;
    height: 25px;
    position: relative;
    left: -3px;
    background-color: rgb(120 103 103);
    border-radius: 0px 3px 3px 0px;
    border: none;
}
.button-search:hover {
    background-color:rgb(145 125 125);
}
.item-search {
    top: 3px;
    position: relative;
}
.add-item {
    /* display: inline-block; */
    width: 110px;
    border: 1px black solid;
    background: #428BCA;
    /* height: 80px; */
    line-height: 18px;
    color: white;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}
.icon-plus {
    /* font-size: 15px; */
    font-size: 25px;
    /* position: relative; */
    /* top: -2px; */
    font-weight: 900;
}
#right-content .top-menu {
    display: flex;
    height: 30px;
    border: 1px black solid;
    /* width: 99%; */
    margin: 5px;
    align-items: center;
    text-align: center;
}
.image {
    width: 90px;
    /* padding-left: 50px; */
}
#slide-content {
    margin: 5px;
    margin-right: 5px;
    /* background-color: red; */
    width: 99%;
    height: 600px;
    overflow-y: scroll;
    border: 2px black solid;
    text-align: center;
}
.image img{
    height: 90px;
}
.container-content {
    border: 1px black solid;
    margin: 5px;
    display: flex;
    min-height: 100px;
    justify-items: center;
    align-items: center;
}
.id {
    width: 100px;
    /* margin-left: 25px; */
}
.ten-sp {
    height: 24px;
    width: 400px;
}
.ten-sp-hd {
    width: 250px;
}
.id-kh-dh {
    width: 125px;
}
.so-luong {
    width: 100px;
}
.gia-sp {
    width: 250px;
}
.chi-tiet {
    max-width: 70%;
}
.modify {
    width: 200px;
}
.delette {
    width: 200px;
}
.modify:hover .icon-modify {
    font-size: 23px;
}
.delette:hover .icon-close{
    color: red;
    font-size: 27px;
}
.icon-close {
    /* content: "\f057"; */
    font-size: 22px;
    color: black;
}
.home-page {
    /* width: 100%; */
    height: 700px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
}
.container-home {
    height: 200px;
    width: 25%;
    border: 1px black solid;
    margin-top: 20px;
    color: white;
    background: linear-gradient(to left, #ff7e5f, #feb47b);
    /* background-color: rgb(116 114 58 / 80%); */
}
.so2 {
    background: linear-gradient(to right, #3661eff7, #c524ff);
}
.so3 {
    background: linear-gradient(to right, #475273f7, rgb(172, 19, 81innerTime));
}
.container-home p {
    margin: 10px;
}
.total-product {
    margin: 10px;
    /* text-align: center; */
}
.time-ago {
    margin: 10px;
    font-size: 13px;
}
.time-ago i{
    font-size: 15px;
    cursor: pointer;
}
#innerTime1, #innerTime2, #innerTime3 {
    display: inline;
}
.modal-add-product {
    display: none;
    position: fixed;
    /* display: flex; */
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #837f7fd6;
    top: 0px;
    left: 0px;
    z-index: 100;
}
.item-modal {
    display: flex;
    margin: 5px;
    background-color: #F5F5F5;
}
.left-modal {
    width: 20%;
}
.right-modal {
    width: 80%;
}
.container-modal {
    width: 80%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 1px black solid;
    margin-top: 75px;
    background-color: white;
}
.button-add-product {
    display: flex;
    justify-content: center;
    
}
.button-add-product button,.button-add-product input {
    margin-right: 20px;
    width: 60px;
    background-color: #428BCA;
    height: 25px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 40px;
}
.button-add-product input:hover {
    background-color: #428bcacc;
}
.close-modal {
    margin-left: 20px;
    width: 60px;
    height: 25px;
    /* border: 1px black solid; */
    text-align: center;
    color: white;
    border-radius: 5px;
    background-color: #428BCA;
    font-size: 14px;
    line-height: 25px;
    cursor: pointer;
}
.close-modal:hover {    
    background-color: #428bcacc;
}
.footer {
    height: 328px;
    width: 100%;
    background-color: #8b898e;
    /* background-color: black; */
    color: white;
}

.container-email {
    padding-top: 20px;
    height: 95px;
}

.item-email {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    position: relative;
}

.text-email {
    font-size: 12px;
    margin-bottom: 10px;
}

.form-email {
    float: left;
    width: 90%;
    height: 25px;
    border: 1px solid #ff6040;
}

.item-form {
    display: inline;
}

.button-email {
    padding: 5px;
    float: left;
    /* display: block; */
    height: 25px;
    width: 25px;
    /* position: absolute; */
    background-color: #9b1111;
    z-index: 1;
}

.button-email>.ti-control-play {
    position: absolute;
}

.button-email:hover {
    background-color: #ad4040;
}

.content-footer {
    /* border: 1px red solid; */
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.container-footer {
    /* border: 1px red solid; */
    width: 50%;
    margin-top: 25px;
}

.container-footer p {
    font-size: 15px;
}

.container-footer h5,
.container-footer p {
    padding: 5px 0px;
}

.widgets {
    height: 2px;
    border: 2px black solid;
    width: 50px;
    margin: 5px 0;
}
/* user-management */
.content-user-management{
    display: flex;
    justify-content: space-around;
}
.btn-management{
    height: 200px;
    width: 25%;
    border: 1px black solid;
    margin-top: 20px;
    color: white;
}
.add-User{
    background: linear-gradient(to left, #ff7e5f, #feb47b);
}
.add-Admin{
    background: linear-gradient(to right, #3661eff7, #c524ff);
}
.delete{
    background: linear-gradient(to right, #475273f7, rgb(172, 19, 81));
}
.btn-management:focus {
    background: rgba( 0, 0, 0, 0.3 );
}
/* user management */
.content-add{
  height: 300px;
}
.form{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.modal_content-input-box{
    display: flex;
    justify-content: space-around;
}
.modal_content-input-box label{
    width: 30%;
    text-align: center;
    line-height: 30px;
}
.modal_content-input-box input{
    width: 100%;
    outline: none;
    height: 30px;
    padding: 5px;
}
.modal_content-input-box div{
    width: 70%;
}
.hide-number-spinner::-webkit-inner-spin-button,
.hide-number-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; /* Optional: margin for aesthetics */
    display: none;
}
.modal_content-btn-box{
    display: flex;
}
.modal_content-btn-box div{
    margin: auto;
}
.error{
    box-shadow:  0 0 2px 1px #e80d0d !important;
}
.btn{
    width: 150px;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
}
.div-error-regisrer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.error-register{
    font-size: 14px;
    color: #e80d0d;
    font-weight: 600;
}
.content-delete{
 width: 100%;
 display: flex;
 height: 300px;
}
.cotent-delete-div{
    margin: auto;
}
.cotent-delete-div div{
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
    align-items: center;
}
.cotent-delete-div input{
    width: 100%;
    height: 30px;
    outline: none;
}
.error-delete{
    color: #e80d0d;
}
.content-doanhthu p{
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}
.content-doanhthu {
    text-transform: capitalize;
} 
.content-doanhthu button {
    height: 21px;
    margin-left: 10px;
}
#tong-danh-thu {
    display: inline; 
    float: right;
    margin-right: 20px;
}
#tong-danh-thu p {
    margin-left: 1px;
    display: inline;
    font-size: 17px;
    color: red;
}

.id-kh {
    width: 150px;
    padding-left: 10px;
    text-align: center;
    border-bottom: 1px black solid;
}
#table-doanhthu {
    width: 99%;
    border: 1px black solid;
    height: 600px;
    background-color:#e7e7f0;
    overflow-y: scroll;
    margin: 5px;
}
.show-idkh {
    display: grid;
    align-items: center;
}
.container-thongke-id {
    width: calc(100% - 130px);
    text-align: center;
}
.container-doanhthu {
    display: flex;
}
.item-thongke-id {
    display:flex;
    border-left: 1px black solid;
    border-bottom: 1px black solid;
    justify-content: space-around;
    align-items: center;
}
.doanhthu {
    width: 350px;
}
.gia-sp-dt {
width: 100px;
}
.ten-sp-dt {
    width: 350px;
    height: 40px;
    line-height: 40px;
}