* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* width: 80%; */
}
#rapper-admin {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    /* height: 700px; */
}
#header {
    height: 50px;
    border:  1px black solid;
    display: flex;
    align-items: center;
    background-color: #222222;
} 
.container-item {
    width: 33.333%;
    /* height: 50px; */
    background-color: #222222;
    color: #999999;
    padding-right: 10px;
    padding-left: 10px;
    
}
#header .right-item {
    text-align: right;
}
#content {
    /* margin-top: 200px; */
    
    /* background-color: red; */
    display: flex;
}

.left-content {
    width: 20%;
    border: 1px black solid;
    /* height: 1000px; */
}
#content .container {
    height: 35px;
    border: 1px black solid;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    font-weight: 500;
    color: #333333;
    cursor: pointer;
}
/* #content .so1 {
    color: #333333;
} */
#right-content {
    border: 1px black solid;
    width: 80%;
    height: 700px;
}
.header-right-content {
    display: flex;
    justify-content: space-around;
    /* width: 100%; */
}
.container-header-item {
    width: 25%;
    margin-top: 10px;
    border-radius: 4px;
}
.container-header-item select {
    height: 25px;
    border-radius: 4px;
}

.add-item {
    /* display: inline-block; */
    width: 110px;
    border: 1px black solid;
    background: #428BCA;
    /* height: 80px; */
    line-height: 18px;
    color: white;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}
.icon-plus {
    /* font-size: 15px; */
    font-size: 25px;
    /* position: relative; */
    /* top: -2px; */
    font-weight: 900;
}
#right-content .top-menu {
    display: flex;
    height: 30px;
    border: 1px black solid;
    /* width: 99%; */
    margin: 5px;
    align-items: center;
    text-align: center;
}
.image {
    width: 90px;
    /* padding-left: 50px; */
}
#slide-content {
    margin: 5px;
    margin-right: 5px;
    /* background-color: red; */
    width: 99%;
    height: 600px;
    overflow-y: scroll;
    border: 2px black solid;
    text-align: center;
}
.image img{
    height: 90px;
}
.container-content {
    border: 1px black solid;
    margin: 5px;
    display: flex;
    min-height: 100px;
    justify-items: center;
    align-items: center;
}
.id {
    width: 100px;
    /* margin-left: 25px; */
}
.ten-sp {
    height: 24px;
    width: 400px;
}
.so-luong {
    width: 100px;
}
.gia-sp {
    width: 250px;
}
.modify {
    width: 200px;
}
.delette {
    width: 200px;
}
.modify:hover .icon-modify {
    font-size: 23px;
}
.delette:hover .icon-close{
    color: red;
    font-size: 27px;
}
.icon-close {
    /* content: "\f057"; */
    font-size: 22px;
    color: black;
}
.home-page {
    /* width: 100%; */
    height: 700px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
}
.container-home {
    height: 200px;
    width: 25%;
    border: 1px black solid;
    margin-top: 20px;
    color: white;
    background: linear-gradient(to left, #ff7e5f, #feb47b);
    /* background-color: rgb(116 114 58 / 80%); */
}
.so2 {
    background: linear-gradient(to right, #3661eff7, #c524ff);
}
.so3 {
    background: linear-gradient(to right, #475273f7, rgb(172, 19, 81));
}
.container-home p {
    margin: 10px;
}
.total-product {
    margin: 10px;
    /* text-align: center; */
}
.time-ago {
    margin: 10px;
    font-size: 13px;
}
.time-ago i{
    font-size: 15px;
    cursor: pointer;
}
#innerTime {
    display: inline;
}
.modal-add-product {
    display: none;
    position: fixed;
    /* display: flex; */
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #cccccca1;
    top: 0px;
    left: 0px;
    z-index: 100;
}
.item-modal {
    display: flex;
    margin: 5px;
    background-color: #F5F5F5;
}
.left-modal {
    width: 20%;
}
.right-modal {
    width: 80%;
}
.container-modal {
    width: 80%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 1px black solid;
    margin-top: 100px;
    background-color: white;
}
.button-add-product {
    display: flex;
    justify-content: center;
    
}
.button-add-product input {
    margin-right: 20px;
    width: 60px;
    background-color: #428BCA;
    height: 25px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 40px;
}
.button-add-product input:hover {
    background-color: #428bcacc;
}
.close-modal {
    margin-left: 20px;
    width: 60px;
    height: 25px;
    /* border: 1px black solid; */
    text-align: center;
    color: white;
    border-radius: 5px;
    background-color: #428BCA;
    font-size: 14px;
    line-height: 25px;
    cursor: pointer;
}
.close-modal:hover {    
    background-color: #428bcacc;
}
.footer {
    height: 328px;
    width: 100%;
    background-color: #8b898e;
    /* background-color: black; */
    color: white;
}

.container-email {
    padding-top: 20px;
    height: 95px;
}

.item-email {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    position: relative;
}

.text-email {
    font-size: 12px;
    margin-bottom: 10px;
}

.form-email {
    float: left;
    width: 90%;
    height: 25px;
    border: 1px solid #ff6040;
}

.item-form {
    display: inline;
}

.button-email {
    padding: 5px;
    float: left;
    /* display: block; */
    height: 25px;
    width: 25px;
    /* position: absolute; */
    background-color: #9b1111;
    z-index: 1;
}

.button-email>.ti-control-play {
    position: absolute;
}

.button-email:hover {
    background-color: #ad4040;
}

.content-footer {
    /* border: 1px red solid; */
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.container-footer {
    /* border: 1px red solid; */
    width: 50%;
    margin-top: 25px;
}

.container-footer p {
    font-size: 15px;
}

.container-footer h5,
.container-footer p {
    padding: 5px 0px;
}

.widgets {
    height: 2px;
    border: 2px black solid;
    width: 50px;
    margin: 5px 0;
}