* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0;
}

@font-face {
    font-family: fontMoi;
    src: url(./fonts/Playpen_Sans/PlaypenSans-VariableFont_wght.ttf);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* width: 80%; */
}

ul {
    list-style-type: none;
}

.row3 {
    width: 33.3333%;
}
.header-left {
    width: 30%;
}

.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1;
}

#header {
    height: 150px;
    display: flex;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-end;
}
.content-headerxxl {
    font-family: 'fontMoi';
}
.logo-ne {
    background-image: url(./image/logochinh2.png);
    max-width: 300px;
    background-size: 100%;
    padding-top: 36%;
    background-repeat: no-repeat;
}
.content-headermd {
    display: none;
}

.right-content {
    display: flex;
    align-items: center;
    justify-content: inherit;
    width: 65%;
    margin-left: calc();
}
.text-header-center {
    font-size: 24px;
    text-align: center;
    width: 30%;
}

.container-search {
    position: relative;
    /* top: 10px;
    left: -40px; */
}

.search {
    height: 32px;
    border: 1px solid #E5E5E5;
    width: 100%;
    border-radius: 5px 0 0 5px;
}

.tim-kiem {
    padding: 4px;
    display: inline;
    position: absolute;
    top: 0px;
    right: -30px;
    background-color: rgb(192, 192, 192);
    border-radius: 0px 5px 5px 0px;
    width: 30px;
}
.tim-kiem{
    position: absolute;
    right: 0;
}
.tim-kiem>.ti-search {
    color: white;
    /* position: relative; */
    top: 1px;
    left: 3px;
}
#contenSearch {
    width: 32%;
    height: 340px;
    background-color: wheat;
    position: fixed;
    top: 157px;
    right: 25%;
    z-index: 10;
    display: none;
    overflow-y: scroll;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px 1px;
}

#contenSearch .container-search {
    display: flex;
    padding: 5px 0;
    border-bottom: 1px solid #ebebee;
}

#contenSearch .close-search {
    display: block;
    /* text-align: right; */
}
.product-search-info{
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: space-between;
}
.container-search-js {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #acac9f00;
    top: 0px;
    left: 0px;
    z-index: 10;
    display: none;
}
.search_INP {
    top: 57px;
    width: 19%;
    position: fixed;
    left: 43%;
}
.searchInp {
    height: 32px;
    border: 1px solid #E5E5E5;
    width: 100%;
    border-radius: 5px 0 0 5px;
}
.searchPrice {
    display: flex;
}
.searchInpSearch {
    height: 32px;
    border: 1px solid #E5E5E5;
    width: 50%;
    flex-direction: row;
    border-radius: 5px 0 0 5px;
}
.prevSearch {
    width: 85%;
    position: absolute;
    bottom: -388%;
    right: 16%;
    padding: 5px;
}
.nextSearch {
    width:85%;
    position: absolute;
    bottom: -388%;
    right: -69%;
    padding: 5px;
}
.image-search img {
    height: 100px;
    width: 100px;
}
.image-search {
    float: left;
    margin: 0 5px 0 0;
}
.gia-sp {
    text-align: right;
}
.tim-kiem:hover {
    background-color: rgb(220, 220, 220);
}

.login img {
    /* cursor: pointer; */
    margin-left: calc((100% - 34px) / 2);
}

.login {
    position: relative;
    left: 40px;
}

.gio-hang {
    /* display: inline; */
    cursor: pointer;
}

.container-taikhoan {
    display: block;
    /* float: left; */
    /* position: relative; */
    /* left: 35px; */
    /* top: 10px; */
}

.item-header {
    width: 30%;
    /* height: 100px; */

}
.tai-khoan {
    /* position: absolute; */
    /* left: 50%; */
}

.container-giohang {
    display: block;
    /* float: right; */
    /* position: relative; */
    /* left: -45px; */
    /* top: -1px; */
    /* cursor: pointer; */
    height: 62px;
}

.icon-shop {
    font-size: 42px;
    margin-left: calc((100% - 42px) / 2);
}
.login:hover + .modal-taikhoan {
    display: block;
}

.text-taikhoan {
    /* position: absolute; */
    /* left: -20px; */
    cursor: pointer;
    font-size: 15px;
    /* display: inline; */
    text-align: center;
}

.login:hover+.modal-taikhoan {
    display: block;
}


.gio-hang {
    position: relative;
    width: 100px;
}
.text-giohang {
    text-align: center;
}
.quantity-giohang {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    top:-10px;
    right: 20px;
}


.modal-taikhoan {
    display: none;
    background-color: rgb(242, 240, 240);
    /* height: 120px; */
    width: 200px;
    position: absolute;
    right: calc(50% - 100px);
    border-radius: 5px;
    font-size: 15px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    /* margin: 10px; */
    margin-top: 30px;
    top: 60%;
    z-index: 999;
    padding-bottom: 15px;
}
.modal-taikhoan::after{
    display: block;
    content: "";
    width:100%;
    height: 35px;
    position: absolute;
    top: -20%;
    /* background-color: red; */
}
.login:hover .open-modal {
    display: block;
}

.container-modal {
    width: 80%;
    margin: auto;
  
}

.icon-admin{
    font-size: 30px;
    position: relative;
    left: -20px;
    display: none;
    cursor: pointer;
}
.item-taikhoan {
    margin-top: 13px;
    height: 40px;
    /* width: 80%; */
    text-align: center;
    /* margin-top: 10px; */
    padding-top: 7px;
    border: 2px red solid;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
}
.item-taikhoan:hover {
    font-size: 16px;
}
.modal-taikhoan:hover .open-modal{
    display: block;
}

.item-taikhoan {
    margin-top: 13px;
    height: 40px;
    /* width: 80%; */
    text-align: center;
    /* margin-top: 10px; */
    padding-top: 7px;
    border: 2px red solid;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
}

.item-taikhoan:hover {
    font-size: 16px;
}

.modal-taikhoan:hover .open-modal {
    display: block;
}
.modal-user{
    display: none;
}
.out-modal {
    display: none !important;
    }
#top-menu {
    /* display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    flex-direction: row;
    margin-bottom: 5px;
    min-height: 48px;
    align-items: center;
    box-shadow: 1px 1px 5px #AAA; */
}
.content-topmenu {
    display: flex; 
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    flex-direction: row;
    margin-bottom: 5px;
    min-height: 48px;
    align-items: center; 
    box-shadow: 1px 1px 5px #AAA;
    width: 100%;
}
#top-menu a{
    text-decoration: none;
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    left: 0;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.container-topmenu {
    text-align: center;
    font-family: 'fontMoi';
}

#top-menu li:hover {
    background-color: #ddd;
}

.label{
    text-align: center;
    font-family: 'fontMoi';
    margin-top: 2em;
}

.container-topmenu {
    cursor: pointer;
}

#content {
    margin-top: 100px;
    margin-bottom: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px red solid; */
}

.slide {
    width: 100%;
    display: flex; /* Sử dụng Flexbox cho xxl vs xl*/
    margin-top: 150px;
    margin-bottom: 20px;
}

.slide-banner1xxl {
    flex: 2;
    background-image: url('./image/Banner890x396px_01__2_.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    min-height: 396px; 
    /* min-width: 890px; */
    margin: 5px;
    border-radius: 5px;
    position: relative;
    /* flex-basis: auto; */
}
.slide-control {
    position: absolute;
    width: 100%; 
    top: 50%;
    left: 0; 
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
   
}


.slide-prev,
.slide-next {
    
    color: #000000;
    padding: 10px 15px;
    cursor: pointer;
    opacity: 0; 
    transition: opacity 0.5s;
    border-radius: 100%;
}

.slide-banner1xxl:hover .slide-prev,
.slide-banner1xxl:hover .slide-next {
    background-color: aqua;
    opacity: 0.5; 
}
.slide-banner1xxl .slide-prev:hover,
.slide-banner1xxl .slide-next:hover {
    opacity: 1; 
}



.right-slide {
    flex: 1; 
    display: flex; /*flexbox xl vs xl*/
    flex-direction: column; 
}

.slide-banner1xl {
    flex: 1; 
    background-image: url('./image/banner3.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    margin: 5px;
    border-radius: 5px;
}
.slide-banner1xl:last-child {
    margin-bottom: 0;
}

.slide-banner2xl {
    flex: 1; 
    background-image: url('./image/banner2.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    margin: 5px;    
    border-radius: 5px;
}
/* endslide */
.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -2px;
  margin-right: -2px;
}

.container-content {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    flex-direction: row;
}

.item-content {
    flex-basis: 24%;
    background-color: #fff;
    padding: 20px;
    border: 2px solid #f1f1f1;
    /* height: 480px; */
    margin-top: 20px;
    position: relative;
    transition: all .2s ease-in;
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-content img {
    background-size: cover;
    max-width: 100%;
}

.item-content:hover {
    box-shadow: 0 2px 12px rgb(0 0 0 / 40%);
}

.item-content:hover .product-thumb {
    transform: translateY(-15px);
}

.product-top .product-thumb {
    margin: 20px 0;
    width: 100%;
    transition: .2s ease-in;
    cursor: pointer;
}

.product-top a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: larger;
margin-bottom: 10px;
    font-size: 15px;
    color: #000 ;
}

.product-info .product-price {
width: 100%;
    color: #111;
    font-weight: 600;
    font-size: 17px;
    color: #d0021c;  
    position: absolute;
    right: 0;
    bottom: 0;
  text-align: center;
    position: absolute;
    left: 50%;
    top: 0;
}
@media only screen and (max-width:700px){
    .product-info .product-price{
        left: 0;
    }
}
.see-more {
    width: 81px;
    margin-left: auto;
    margin-right: auto;
}

.outline {
    display: inline;
}

.outline button {
    padding: 5px 10px;
    margin-top: 20px;
    background-color: white;
    box-shadow: 1px 1px 7px rgb(189, 184, 184);
    border: none;
}

.outline button:hover {
    background-color: rgba(201, 201, 201, 0.179);
    box-shadow: 1px 1px 7px rgb(189, 184, 184);
    cursor: pointer;
}

.footer {
        width: 100%;
    background-color: #8b898e;
    /* background-color: black; */
display: flex;
}

.container-email {
    padding-top: 20px;
    height: 100%;
    width: 20%;
}

.item-email {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    position: relative;
}

.text-email {
    font-size: 12px;
    margin-bottom: 10px;
}

.form-email {
    float: left;
    width: 90%;
    height: 25px;
    border: 1px solid #ff6040;
}

.item-form {
    display: inline;
}

.button-email {
    padding: 5px;
    float: left;
    /* display: block; */
    height: 25px;
    width: 25px;
    /* position: absolute; */
    background-color: #9b1111;
    z-index: 1;
}

.button-email>.ti-control-play {
    position: absolute;
}

.button-email:hover {
    background-color: #ad4040;
}

.content-footer {
    /* border: 1px red solid; */
        width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.container-footer {
    /* border: 1px red solid; */
    width: 50%;
    /* margin-top: 25px; */
}

.container-footer p {
    font-size: 15px;
}

.container-footer h5,
.container-footer p {
    padding: 5px 0px;
}

.widgets {
    height: 2px;
    border: 2px black solid;
    width: 50px;
    margin: 5px 0;
}

#modal-giohang {
    display: none;
    background-color: rgb(113 107 107 / 74%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.container-giohang {
    width: 89%;
    height:90%;
    background-color: rgb(240,240,240);
   margin: auto;
    display: flex;
    align-items: center;
    /* position: relative; */
    flex-direction: column;
    overflow: auto;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    padding: 10px 0;
}
.container-giohang::-webkit-scrollbar{
    display: none;
}
.container-giohang div{
    text-align: center;
}
.anh-giohang {
    background-image: url("./image/giohang1x1.png");
    width: 160px;
    padding-top: 160px;
    background-size: 100%;
    background-repeat: no-repeat ;
    margin-right: auto;
    margin-left: auto;
}
#button-close {
    float: right;
    padding: 10px;
    background-color: red;
    width: 40px;
    /* height: auto; */
    cursor: pointer;
    position: absolute;
    top: 13px;
    right: 15px;
    text-align: center;
    border-radius: 5px;
}
#button-close:hover {
    background-color: #ce1919db;
}
.open-giohang{
    display: flex !important;
    position: fixed;
    display: inline;
}
.close-giohang{
    display: none;
}
.content-giohang-top{
    position: absolute;
    width: 90%;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    margin-top: -50px;            
}
.content-giohang-top span{
    font-size: 17px;
    line-height: 8%;
}
.nothing{
    width: 30px;
    display: inline-block;
}
.content-giohang-list{
    width: 90%;
}
.content-giohang-left{
    width: 30%;
}
.content-giohang-right{
    width: 40%;
}
.content-giohang-left,.content-giohang-right{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.tick-all-giohang,.tick-giohang{
    font-size: 20px;
}
.tick-all-giohang .fa-square-check{
    display: none;
    color:#C92127;
}
.tick-giohang .fa-square-check{
    display: none;
    color:#C92127;
}
.tick-giohang .fa-square {
    display: block;
}
.tick-all-giohang .fa-square {
    display: block;
}
.tick-all-giohang .fa-square-check.checkactive {
    display: block !important;
    color: #C92127;
}

.tick-giohang .fa-square-check.checkactive {
    display: block !important;
    color: #C92127;
}

.tick-giohang .fa-square.checkdisable {
    display: none !important;
}

.tick-all-giohang .fa-square.checkdisable {
    display: none !important;
}


.content-giohang-item{
    height: 200px;
    width: 100%;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom:solid 1px #000;
}
.content-giohang-item:first-child{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.content-giohang-item:last-child{
    border-bottom: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.content-giohang-item-img{
    background-image: url(./image/vanhoc/2f8f1ac443b9f472b5b568738f4584df.jpg.webp);
    width: 50%;
    height: 140px;
    background-size: 100% ;
    background-repeat: no-repeat;
    background-position: center;
    /* align-self: stretch; */
}
.content-giohang-soluong{
    width: 80px;
    /* height: 30px; */
    border:  2px solid rgb(236,236,236);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content-giohang-soluong> input {
    width: 15px;
    height: 30px;
    text-align: center;
    border: none;
}
.content-giohang-soluong i{
  color: rgb(162,170,174);
}
.content-giohang-gia{
    font-size: 18px;
    color: #C92127;
}
.content-giohang-mid{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.content-giohang-trash{
    font-size: 20px;
}
.content-giohang-trash:hover{
    color: #C92127;
}
.content-giohang-bottom{
    position: absolute;
    width: 90%;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    display: flex;
    padding: 10px 20px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    bottom: 15px ;
}
.check-out {
    padding: 15px;
    color: #fff; 
}

.highlighted {
    background-color: #f00;
    color: #fff; 
}



.modal-detail { 
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0,0,0,0.5); 

}

.modal-content {
    width: 90%; 
    height: 90%;
    max-height: 1000px;
    max-width: 1500px; 
    background-color: white;
    overflow: auto;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}

.modal-content::-webkit-scrollbar {
    display: none;
}

.modal-header {
    background-color: rgb(0, 128, 38);
    top: 0;
    color: white;
    padding: 10px;
    position: sticky;
    z-index: 9999999999;
}

.modal-header>p {
    font-family: 'fontMoi';
    font-weight: bold;
}

.modal-header .close {
    color: white;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    transition: transform 0.3s ease-in-out;

}

.close:hover {
    color: red;
    transform: scale(1.2);
}

.modal-body {
    -ms-overflow-style: none;
}

.modal-body {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    flex-direction: row;
}

.quantity {
    display: flex;
}

.quantity p {
    margin-bottom: 0!important;
}

.quantity-box {
    margin-left: 20px;
    border: 1px solid #000;
    border-radius: 3px;
}

.quantity input {
    width: 15px;
    height: 30px;
    text-align: center;
    border: none;
}

.quantity button {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: none;
}

.product-img {
    border: 1px solid black;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    margin: 5px;
    order: 1;
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.product-info {
    width: 50%;
    padding: 10px;
    position: relative;
    order: 2;
}

.product-info h2 {
    margin-bottom: 10px;
    border-bottom: 1px solid aquamarine;
}

.product-info p {
    margin-bottom: 10px;
    line-height: 32px;
}

.product-info .vnd {
    font-size: 50px;
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

.purchase-btn {
    background-color: black;
    color: white;
    padding: 10px;
    margin: 30px 0;
    border: none;
    border-radius: 5px;
}

.purchase-btn:hover {
    background-color:#17855b;
}

.product-tab {
    display: flex;
    justify-content: center;
    margin: 10px;
    bottom: 0px;
    
}

.product-tab .tab-btn {
    background-color: black;
    color: white;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;

}

.tab-btn.active {
    background-color: rgb(22 163 120);
}

.product-tab-info {
    border-top: aquamarine solid;
    padding: 15px 15px;
    margin: 5px;
}

.ty-product-feature {
    padding: 10px;
    
}

.product-features .ty-product-feature .ty-product-feature__label {
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
}

.product-features .ty-product-feature:nth-child(2n) {
    background-color: rgb(10, 185, 185);
}

.ty-product-feature__label {
    display: inline-block;
    width: 280px;
  
}

.ty-product-feature__value {
    display: inline-block;
    margin-left: 5px;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
}

.product-rating {
    text-align: center;
    font-size: 30px;
}

.star {
    display: flex!important;
    justify-content: center;
    flex-direction: row-reverse; 
    font-size: 30px;
    
}


.star .fa-star.star-active {
    color: yellow; 
}

.star i:hover,
.star i:hover ~ i {
    color:yellow ;
}
.modal-control {
    position: absolute;
    width: 100%; 
    top: 50%;
    left: 0; 
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}


.modal-prev,
.modal-next {
    background-color: rgb(3, 225, 225);
    color: #000000;
    padding: 10px 15px;
    cursor: pointer; 
    transition: opacity 0.5s;
    border-radius: 5px;

    
}

.toast {
    position: fixed;
    top: 200px;
    right: 32px;
    display: none;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    border-left: 10px solid;
    padding: 20px 0;
    border-color: greenyellow;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    animation: moveleft ease 0.3s ;
    z-index: 99999;
}


@keyframes moveleft {
    from {
        transform: translateX(100px);
    }
    to {
        transform: translateX(0);
    }
}
.toast__icon {
    font-size: 24px;
    
}
.toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}
.toast__body {
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (min-width: 1200px) {
    .product-tab {
        position: absolute;
    }
    .slide-banner1xxl {
        min-width: 876px;
    }

}
@media (min-width: 699px) and (max-width: 1200px) {
    .container-content {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .item-content {
        margin: 0 3px;
        flex: 1 30%;
    }
 

    .item-content:last-child {
        display: none;
      }

    
    .slide-banner1xxl {
        min-height: 277px;
    }
    /* .content-footer {
        flex-direction: column;
    } */
    
    .container-footer {
        width: 100%;
    }
  
    .text-header-centermd {
        text-align: center;
    }

    .text-taikhoan,
    .text-giohang {
        display: none;
    }

    /* #follow-by,
    .container-search {
        display: none;
        /* Ẩn theo dõi */
    /* }  */
    #header {
        height: 100px;
    }
    #follow-by .logo-ne {
        padding-top: 44%;
    }
    .icon-admin {
        font-size: 25px;
    }
    .icon-shop {
        font-size: 40px;
    }
    .login img {
        width: 30px;
    }
    .quantity-giohang {
        width: 25px;
        height: 25px;
    }
    .content-topmenu {
        min-height: 40px;
    }
    #media {
        display: flex;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 700px) {
    #header {
        height: 85px;
        width: 100%;
        position: fixed;
    }
    #follow-by .logo-ne {
        padding-top: 44%;
    }
    .icon-admin {
        font-size: 25px !important;
    }
    .icon-shop {
        font-size: 40px;
    }
    .login img {
        width: 30px;
    }
    .quantity-giohang {
        width: 25px;
        height: 25px;
    }
    .content-topmenu {
        min-height: 35px;
        /* padding-top: 86px; */
        flex-direction: column;
        background-color: #84aeda;
        float: inline-start;
        margin-top: 86px;
    }
    .text-taikhoan,
    .text-giohang {
        display: none;
    }
    .slide {
        margin-top: auto;
    }
    #content {
        width: 100%;
        margin-top: auto;
    }
    .header-wrapper {
        position: static;
    }
    .container-content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .item-content {
        margin: 0 2px;
        flex: 1 45%;  
        /* 2 items */
        
    }

    
    .slide-banner1xxl {
        min-height: 240px;
    }
    .right-slide {
        display: none;
    }
    .content-footer {
        flex-direction: column;
      text-align: center;
    }
    .widgets{
      position: relative;
      left: calc(50% - 25px);
    }
    .container-footer {
        width: 100%;
    }

    #media, #follow-by{
        /* display: none; */
    }

    .content-headerxxl {
        margin: 0 auto;
    }
    .modal-body {
        flex-direction: column;
    }
    .product-img {
        height: 600px;
        width: 100%;
    }
    .product-info {
        width: 100%;
    }
    
}
@media screen and (max-width: 400px) {
    #header {
        height: 60px;
        position: static;
    }
    .icon-admin {
        display: none !important;
    }
    .content-topmenu{
        margin-top: 60px;
    }
    .search {
        height: 24px;
    }
    .tim-kiem {
        padding: 0px;
        display: inline;
        position: absolute;
        top: 2px;
        right: -24px;
        background-color: rgb(192, 192, 192);
        border-radius: 0px 5px 5px 0px;
        width: 24px;
    }
    .login img {
        width: 25px;
    }
    .icon-shop {
        font-size: 33px;
    }
    .quantity-giohang {
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: red;
        border-radius: 50%;
        text-align: center;
        line-height: 18px;
        top: -4px;
        right: 35px;
        font-size: 10px;
    }
    .quantity-giohang {
        width: 16px;
        height: 16px;
    }
    .content-topmenu {
        margin-top: auto;
    }
}
.modal{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0,0,0,0.3);
    display: none;
    /* display: none; */
    z-index: 99999;
}

.modal_content{
   margin: auto;
   width: 450px;
   background-color: white;
   padding: 20px 36px 36px 20px;
   border-radius: 10px;
   transform-origin: top;
   animation: trans ease-in 0.5s;
  
}
@keyframes trans{
    from{
       opacity: 0;
       transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.modal_content-header{
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: space-around;
  height: 30px;
  margin-bottom: 30px;
}
.modal_content-header-item{
    width: 45%;
    position: relative;
    cursor: pointer;
}
.modal_content-header-item span{
    font-size: 15px;
    color: #C92127; 
    display: flex;
    justify-content: center;
    line-height: 28px;
}
.modal_content-header-item-line{
    width: 100%;
    height: 2px;
    background-color: #C92127;
    position: absolute;
    bottom: 0;
    animation: growth ease-in .5s;
}
@keyframes growth{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
.modal_content-header-item-default span{
    color: #888; 
}
.modal_content-header-item-default 
.modal_content-header-item-line{
    display: none; 
}
.modal_content-login{
    width: 100%;
    display: none;
}
.modal_content-register{
    display: none;
}
.modal_content-input-box{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 80px;
    justify-content: space-between;
    margin-bottom: 10px;
}   
.modal_content-input-box label{
    font-size: 14px;
    color: #555;
}
.modal_content-input-box input{
    height: 39px;
    border: solid 1px #d6d5d5;
    padding: 0 10px;
    border-radius: 5px;
    outline: none;
}
.modal_content-input-box input::placeholder{
    color: #999;
}
input:focus{
    box-shadow: 0 0 2px 1px rgb(49, 181, 207);
}
.modal_content-btn-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.btn{
    width: 245px;
    height: 36px;
    border-radius: 10px;
    margin-bottom: 15px;
    border: none;
    cursor: pointer;
    background-color: #C92127;
    font-size: 15px;
    color: white;
    font-weight: 600;
}
.btn-close{
    border: solid 1px #C92127;
    background-color: white;
    color: #C92127;
}
.btn-default{
  background-color: #e1e1e1;
  color: #666;
  cursor: auto; 
}
.modal_content-register-rule{
    width: 100%;
    display: flex;
    justify-content: center;
}
.modal_content-register-rule p{
  width: 80%;
  text-align: center;
  font-size: 12px;
}
.modal_content-register-rule span{
    color: #2489F4; 
    cursor: pointer;
}
.modal_content-register-rule span:hover{
    color: #C92127;
}

.error{
    box-shadow:  0 0 2px 1px #e80d0d !important;
}
.hide-number-spinner::-webkit-inner-spin-button,
.hide-number-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; /* Optional: margin for aesthetics */
    display: none;
}
.div-error-regisrer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.error-login, .error-register{
  font-size: 14px;
  color: #e80d0d;
  font-weight: 600;
}
.icon-admin{
    font-size: 30px;
    position: relative;
    left: -20px;
    display: none;
    cursor: pointer;
}
/* USER INFO */
.modal-info-user{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0,0,0,0.3);
    display: none;
    z-index: 9999;
}
.modal-info-user-container{
   width: 500px;
   background-color: white;
   /* height: 400px; */
   margin: auto;
   padding: 20px;
   border-radius: 10px;
   position: relative;
}
.modal-info-user-container-header{
}
.modal-info-user-container-header h3{
    font-size: 16px;
    font-weight: 600;
}
.modal-info-user-container-header span{
    font-size: 15px;
}
.modal-info-user-container-header::after{
    display: block;
    content: "";
    height: 1px;
    width: 100%;
    background-color: #999;
    margin-top: 5px;
}
.modal-info-user-container-content{
   height: 300px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
}
.modal-info-user-container-content span{
   font-size: 14px;
   color: #555;
}
.modal-info-user-container-content-item{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.modal-info-user-container-content-item span{
    width: 30%;
}
.modal-info-user-container-content-item div{
    width: 70%;
}
.modal-info-user-container-content-item-username{
    flex: 1;
    height: 30px;
    border: solid 1px #888;
    padding: 5px;
    border-radius: 5px;
    outline: none;
}
.close-info{
   top:0 !important;
   right: 0 !important;
   padding: 10px;
   background-color: red;
   width: 40px;
   /* height: auto; */
   cursor: pointer;
   position: absolute;
   top: 13px;
   right: 15px;
   text-align: center;
   border-radius: 5px;
}
.close-info:hover{
    background-color: #ce1919db;
}
#showProductWait{
    height: 30px;
    outline: none;
    border-radius: 4px;
}
#showProductWait:focus{
   box-shadow:  0 0 2px 1px rgb(49, 181, 207);
   border: noe;
}
/* hoa don */
.modal-hoadon{
    display: none;
    background-color: rgb(113 107 107 / 74%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999;
}
.modal-hoadon-content {
    width: 89%;
    height:90%;
    background-color: rgb(240,240,240);
    margin: auto;
    display: flex;
    align-items: center;
    /* position: relative; */
    flex-direction: column;
    overflow: auto;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    /* padding: 5px 0; */
    border-radius: 10px;
}
.modal-hoadon-content::-webkit-scrollbar{
    display: none;
}
.modal-hoadon-content-top{
    width: 100%;
    text-align: center;
    border: 1px solid ;
    border-radius: 10px;
}
.modal-hoadon-content-container-list{
    width: 100%;
}
.modal-hoadon-content-container-list .content-giohang-mid{
    justify-content: center;
}
#button-close-hoadon{ 
    float: right;
    padding: 10px;
    background-color: red;
    width: 40px;
    /* height: auto; */
    cursor: pointer;
    position: absolute;
    top: 13px;
    right: 15px;
    text-align: center;
    border-radius: 5px;
    top: 32px;
    right: 6px;
    z-index: 1;
}
.no-item{
    display: none;
}
