*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0;
}
@font-face {
    font-family: fontMoi;
    src: url(./fonts/Playpen_Sans/PlaypenSans-VariableFont_wght.ttf);
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* width: 80%; */
}
.row3 {
    width: 33.3333%;
}
.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 100;   
}
#header {
    height: 150px;
    /* background-color: rgb(134, 155, 134); */
    display: flex;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.content-headerxxl {
    float: left;   
    /* border: 1px red solid; */
    /* height: 200px; */
    /* text-align: center; */
    font-family: 'fontMoi';
    position: relative;
    /* Top:50%;
    Transform: translateY(-50%); */
}
.content-headermd {
    display: none;
}
.right-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.text-header-center {
    font-size: 24px;
    text-align: center;
}
.container-search {
    position: relative;
    top: 10px;
    left: -40px;
}
.search {
    height: 32px;
    border: 1px solid #E5E5E5;
    width: 100%;
    border-radius: 5px 0 0 5px;
}
.tim-kiem {
    padding: 4px;
    display: inline;
    position: absolute;
    top: 0px;
    right: -30px;
    background-color: rgb(192, 192, 192);
    border-radius: 0px 5px 5px 0px;
    width: 30px;
}
.tim-kiem>.ti-search {
    color: white;
    /* position: relative; */
    top: 1px;
    left: 3px;
}
.tim-kiem:hover  {
    background-color: rgb(220, 220, 220);
}
.login img{

    cursor: pointer;
}
.container-taikhoan {
    display: block;
    float: left;
    position: relative;
    left: 35px;
    /* top: 10px; */
}
.text-taikhoan {
    position: absolute;
    left: -20px;
    cursor: pointer;
    font-size: 15px;

}
.tai-khoan {
    /* position: absolute; */
    /* left: 50%; */
}
.container-giohang {
    /* float: right; */
    position: relative;
    /* left: -45px; */
    top: -1px;
    cursor: pointer;
}
.icon-shop {
    font-size: 42px;
}
.text-giohang {
    position: absolute;
    width: 78px;
    left: -12px;
    cursor: pointer;
    font-size: 15px;
}
#top-menu {
    min-height: 48px;
    /* border: 1px red solid; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 1px 1px 5px #AAA;
}
.container-topmenu {
    cursor: pointer;
}
#content {
    margin-top: 198px;
    margin-bottom: 20px;    
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px red solid; */
    
}
.slide {
    margin-bottom: 20px;
}
.banner1xxl {
    width: 100%;
    background-image: url('./image/Banner890x396px_01__2_.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 45%;
}

.container-content {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    
}
.item-content {
    width: 24%;
    margin: 4px 0px;
    height: 200px;
    border: 1px red solid;
}
.see-more {
    width: 81px;
    margin-left: auto;
    margin-right: auto;
}
.outline {
    display: inline;
}
.outline button {
    padding: 5px 10px;
    margin-top: 20px;
    background-color: white;
    box-shadow: 1px 1px 7px rgb(189, 184, 184);
    border: none;
}
.outline button:hover {
    background-color: rgba(201, 201, 201, 0.179);
    box-shadow: 1px 1px 7px rgb(189, 184, 184);
    cursor: pointer;
}
.footer {
    height: 328px;
    width: 100%;
    background-color: #8b898e;
    /* background-color: black; */
    
}
.container-email {
    padding-top: 20px;
    height: 95px;
}
.item-email {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    position: relative;
}
.text-email {
    font-size: 12px;
    margin-bottom: 10px;
}
.form-email {
    float: left;
    width: 90%;
    height: 25px;
    border: 1px solid #ff6040;
}
.item-form {
    display: inline;
}
.button-email {
    padding: 5px;
    float: left;
    /* display: block; */
    height: 25px;
    width: 25px;
    /* position: absolute; */
    background-color: #9b1111;
    z-index: 1;
}
.button-email>.ti-control-play {
    position: absolute;
}
.button-email:hover{
    background-color: #ad4040;
}
.content-footer {
    /* border: 1px red solid; */
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.container-footer {
    /* border: 1px red solid; */
    width: 50%;
    margin-top: 25px;
}
.container-footer p {
    font-size: 15px;
}
.container-footer h5 ,.container-footer p {
    padding: 5px 0px;
}
.widgets {
    height: 2px;
    border: 2px black solid;
    width: 50px;
    margin: 5px 0;
}
@media screen and (max-width: 1200px) {
    #header {
        height: 100px;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    #content {
        margin-top: 146px;
    }
}
@media screen and (max-width: 900px) {
    #content {
        width: 95%;
    }
    .content-headerxxl {
        display: none;
    }
    .content-headermd {
        display: block;
        
    }
    .text-header-centermd {
        text-align: center;
    }
    .right-contentmd {
        float: right;
    }
    .right-contentmd i {
        margin-right: 10px;
    }
}
@media screen and (max-width: 450px) {
    #header {
        height: 75px;
    }
    #content {
        margin-top: 121px;
    }
    .slide {
        margin-bottom: 0;
    }
    .item-email {
        width: 60%;
    }
    .form-email {
        width: 80%;
    }
    .item-content {
        width: 30%;
    }
}